@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hero-heading {
  background: radial-gradient(50% 50% at 50% 50%, #a5f7a8 22.09%, #af7af2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --webkit-text-fill-color: transparent;
}

body {
  width: 90%;
  margin: auto;
  /* background-color: black; */
  /* 1280px */
  max-width: 100rem;
  @apply mx-auto w-11/12;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 16px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: transparent;
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  border: 0.21em solid transparent;
  border-radius: 100px;
  background: linear-gradient(#a569f4, #a7deb6);
  background-clip: content-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hero-heading {
  background: radial-gradient(50% 50% at 50% 50%, #a5f7a8 22.09%, #af7af2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  --webkit-text-fill-color: transparent;
}

body {
  width: 90%;
  margin: auto;
  background-color: black;
  /* 1280px */
  max-width: 100rem;
  @apply mx-auto w-11/12;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 16px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: transparent;
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  border: 0.21em solid transparent;
  border-radius: 100px;
  background: linear-gradient(#a569f4, #a7deb6);
  background-clip: content-box;
}

.Contributor_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.Contributor_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  height: 25rem;
  width: 30rem;
  border-radius: 0.5cm;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.Contributor_card:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 12px rgba(255, 255, 255, 0.6);
}

.Contributor_image img {
  width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
}

.Contributor_image img:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 2px solid #ffcad4;
}

.Contributor_name h1 {
  margin: 1.3rem;
  color: white;
  font-size: 2.4rem;
}

.Contributor_Contributions h3 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.6rem;
}

.Contributor_account a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}

.Contributor_view_button {
  border: 2px solid white;
  width: 15rem;
  padding: 0.7rem;
  border-radius: 0.3cm;
  transition: all 0.3s ease-in-out;
}

.Contributor_view_button:hover {
  transform: scale(1.05);
  border: 1.5px solid #ffe5d9;
}
@media (max-width: 767px) {
  .Contributor_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .Contributor_card {
    height: auto;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
}
